{% extends 'base_lte.html' %}
{% load crispy_forms_tags %}


{% block head_title %}{% block title-head %}

    موفقیت امیز
{% endblock %}{% endblock %}

{% block nav_title %}
    موفقیت امیز
{% endblock %}
{% block content %}

    <div class="col-md-8 text-center mx-auto">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title mb-0 float-left text-center">به ایمیل شما ارسال شد</h3>
                </div>
               
                        <p class="py-2">تمام شد</p>
                <a href="{% url 'account:user_login' %}">login</a>
                </div>
            </div>
{% endblock %}