{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Stand CSS Blog by TemplateMo</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href=" {% static 'images/icons/favicon.ico' %} "/>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "css/templatemo-stand-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.css" %}">
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog Entries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post-details.html">Post Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:user_login' %}"> Login/Singup</a>
                {% else %}
                {% if user.profile.avatar %}
              <span> <img src="{{user.profile.avatar.url}}" style="border-radius: 30px;" width="30" height="30"   alt="">

            </span>
            {% else %}
            <span> <img src="{% static 'images/images.png' %}" style="border-radius: 30px;" width="30" height="30"   alt="">

            </span>
              {% endif %}

            <a class="nav-link" href="contact.html" data-placeholder="&#xf207;">{{request.user.username}}</a>
                <a class="nav-link" href="{% url 'account:user_logout' %}" >logout</a>


              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
