<div class="col-lg-4">
    <div class="sidebar">
        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                        <ul>

                            <li>
                                {% for article in resent_article %}
                                    <a href="{% url 'blog:blog_detail' article.slug %}">
                                        <h5>{{ article.title }}</h5>
                                        <span>{{ article.created }}</span>

                                    </a>
                                {% endfor %}
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                        <h2>Categories</h2>
                    </div>
                    <div class="content">
                        <ul>
                            {% for category in categories %}
                                <li><a href="{% url 'blog:cat_list' category.id %}">- {{ category.title }} {{ category.categories.all.count }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                        <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                        <ul>
                            {% for tag in article.tag.all %}
                                <li><a href="{% url 'blog:tag_list' tag.id %}">{{ tag.title }} {{ tag.articles.all.count }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>